<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="./logs" />
    <springProperty scope="context" name="APPLICATION_NAME" source="application.name" />

    <!--     Console Appender (Human-readable) -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender (JSON for Log Aggregation) -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${HOSTNAME}/${APPLICATION_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${HOSTNAME}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- Root Logger (Logs to both Console & File) -->
    <root level="info">
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>

    <!-- Special Debug Logging for Specific Package -->
    <logger name="com.pm" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
    </logger>
</configuration>